.header {
	flex: 0 0 auto;

	background-color: #dfca0d;
	margin-top: 75px;
}
@media (max-width: 602px) {
	.header {
		margin-top: 50px;
	}
}
@media (max-width: 322px) {
	.header {
		margin-top: 40px;
	}
}

.header h1 {
	text-align: center;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
}
@media (max-width: 480px) {
	.header h1 {
		font-size: 20px;
	}
}
@media (max-width: 320px) {
	.header h1 {
		font-size: 15px;
	}
}

.main {
	flex: 1 0 auto;
}

.footer {
	background-color: #212429;
	flex: 0 0 auto;
	padding: 5px;
}

.footer__company-name p {
	text-align: center;
}

.footer__office p {
	text-align: center;
}
@media (max-width: 480px) {
	.footer__company-name p {
		font-size: 15px;
	}
	.footer__office p {
		font-size: 13px;
	}
}
@media (max-width: 320px) {
	.footer__company-name p {
		font-size: 11px;
	}
	.footer__office p {
		font-size: 10px;
	}
}
