.top__service {
	
	
}
@media (max-width: 482px){
	.top__service {
		height: 270px;
	}
}



.top__title-service {
	background: url(/images/oil-station.jpg) center;

}
.top__text-service [
	
]



.service {
	
	
}
.service__icon {
	width: 60px;
	height: 60px;
	
	
}
.service__icon img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.service__title {
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.service__title h3{
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	
}

.service__row {
	display: flex;
	justify-content: center;
}


.service__item {
	border: 2px solid rgb(172, 172, 172);
	width: 40%;
	
	
}

.service__text {
	
}
.service__text p {
	
}

@media (max-width: 770px) {
	.service__title h3 {
		font-size: 20px;
	}
}
@media (max-width: 482px) {
	.service__title h3 {
		font-size: 16px;
	}
	.service__icon {
		width: 40px;
		height: 40px;
		
		
	}
}
@media (max-width: 320px) {
	.service__title h3 {
		font-size: 13px;
	}
	.service__text p {
	font-size: 10px;
	}
	
	.service__icon {
		width: 30px;
		height: 30px;
		
		
	}
	.service__row {
		display: block;
		
	}
	.service__item {
		
		width: 90%;
		margin: 0 auto 5px auto;
	}
		
}



























@media (max-width: 482px){
	.top__service {
		height: 260px;
	}
}
@media (max-width: 236px){
	.top__service {
		height: 270px;
	}
}
@media (max-width: 200px){
	.top__service {
		height: 285px;
	}
}